body{
    text-align: center;
    background-color: black;
}
h3{
    color:  white;
}
#minhaFoto{
    width: 300px;
    border-radius: 100%;
    border: 2px solid white;
    margin: 20px 20px;
    max-width: 80%;
    height: auto;
    
}
nav{
    justify-content: space-around;
}
#SobreMinhaVida{
    text-align: center;
    border-radius: 50px;
    border: 5px solid white;
    margin: 50px 50px  auto;
}
h1{
    color:  white;
}
footer{
    margin-top: 20px;
    color: white;
}
#github{
    width: 150px;
    margin: 50px;
}
#instagram{
    width: 150px;
    margin: 50px;

}
#Matrixreview{
    width: 300px;
    border-radius: 50px;
    border: 2px solid white;
    margin: 20px 20px;
    max-width: 80%;
    height: auto;
}
#MatrixReview{
    text-align: center;
    border-radius: 50px;
    border: 5px solid white;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#Atividade-02-07{
    text-align: center;
    border-radius: 50px;
    border: 5px solid white;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#Atividade02-07{
    width: 300px;
    border-radius: 50px;
    border: 2px solid white;
    margin: 20px 20px;
    max-width: 80%;
    height: auto;
}
#instagram:hover{
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
#github:hover{
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
#Matrixreview:hover{
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
#Atividade02-07:hover{
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
